.icon-bar a {
    padding: 5px;
    color: lightblue;
    font-weight: 500;
    transition: color 0.3s;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.icon-bar a::before {
    top: 0;
    transform: translate(-10px);
}