{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static '/css/article_list.css' %}" />

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Recipes</h1>

      <form method="GET" action="">
        <input type="text" name="q" placeholder="Search recipes" />
        <input type="submit" value="Search" />
      </form>

      {% for instance in object_list %}
      {% if instance.image %}
      <div class="img-container">
        <img src='{{ instance.image.url }}' class='img-responsive'>
      </div>
      {% endif %}
      <a href='{{ instance.get_absolute_detail_url }}'> {{ instance.title }}</a>
      <br><small>Created on: {{ instance.created }}</small><br />
      {% include 'Article/ajax_updateModal.html' %}
      {% endfor %}
    </div>
  </div>
</div>


</div>
{% endblock content %}