{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'article/css/article.css' %}" />

<div class="container">
  <div class="row">
    {% for instance in object_list %}
    <div class="col-md-4">
      {% if instance.image %}
      <div class="recipes__box">
        <img class='recipes__box-img' src='{{ instance.image.url }}'>
        {% endif %}
        <div class='recipes__text'>
          <h5 class='recipes__title'>{{ instance.title }}</h5>
          <p class='recipes__subtitle'>
            Author: <span>{{instance.author.get_full_name}}</span> <br />
            Created on: <span>{{instance.created}}</span>
          </p>
        </div>
        <button class='recipes__buttons'>
          <a href='{{ instance.get_absolute_detail_url }}'>View</a>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}