{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'article/css/article.css' %}" />

<div class="container">
    <div class='row justify-content-center'>
        <div>
            <h3>{{ object.title }}</h3>
            <small>Created: {{ object.created }}</small>
            <p></p>
            <small>Author: {{object.author.get_full_name}}</small>
            {% if object.image %}
            <div class="img-detail-container">
                <img src='{{ object.image.url }}' class="img-detail-responsive" />
            </div>
            {% endif %}
        </div>
    </div>
    <div class='row'>
        ingredients and methods
    </div>
</div>

<!-- -------------------------------------------------------------------------------- -->





{% endblock content %}